@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar";
}


    <div class="w3l-login-form">
        <img src="~/images/logo-cm.png" />
        <hr />
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="w3l-form-group">
                <label asp-for="Input.Email"></label>
                <div class="group">
                    <i class="fas fa-user" style="color:#f0ad4e;"></i>
                    <input asp-for="Input.Email" placeholder="E-mail" />
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="w3l-form-group">
                <label asp-for="Input.Password"></label>
                <div class="group">
                    <i class="fas fa-unlock "style="color:#f0ad4e;"></i>
                    <input asp-for="Input.Password" placeholder="Senha" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="w3l-form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <div class="group">
                    <i class="fas fa-unlock" style="color:#f0ad4e;"></i>
                    <input asp-for="Input.ConfirmPassword" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn" style="background-color:#f0ad4e;">Login</button>

        </form>
        <hr />
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-vertical">
            <div class="form-group">
                @{ if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                Não há serviços de autenticação externos configurados
                            </p>
                        </div>
                    }
                    else
                    {
                        <p class=" w3l-register-p">Use outro serviço para registrar em nosso site</p>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn" style="background-color:#f0ad4e;" name="provider" value="@provider.Name" title="Login usando sua @provider.DisplayName conta">@provider.DisplayName</button><br />
                            }
                        </p>
                    }
                }
            </div>
        </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
