@model IEnumerable<CineManager.Models.Sala>

@{
    ViewData["Title"] = "Index";
}

<h1>Sala</h1>

<p>
    <a asp-action="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumPoltrona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSala)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumPoltrona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSala.Tipo)
            </td>
            <td>
                <a class="btn btn-primary p-1" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-info p-1" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a class="btn btn-danger p-1" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
