@model CineManager.Models.Sessao

@{
    ViewData["Title"] = "Detalhes da Sessão";
}

<h1>Detalhes da Sessão</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracao_Sessao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracao_Sessao) min
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filme.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filme.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filme.Genero.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filme.EmCartazAte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filme.EmCartazAte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
