@model CineManager.Models.Funcionario

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastro de Funcionário</h1>

<h4>Dados Pessoa</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-lg-6">
                    <label asp-for="NomeCompleto" class="control-label"></label>
                    <input asp-for="NomeCompleto" class="form-control" />
                    <span asp-validation-for="NomeCompleto" class="text-danger"></span>
                </div>
                <div class="col-lg-3">
                    <label asp-for="Cpf" class="control-label"></label>
                    <input asp-for="Cpf" id="txtCpf" class="form-control" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
                <div class="col-lg-3">
                    <label asp-for="Rg" class="control-label"></label>
                    <input asp-for="Rg" class="form-control" />
                    <span asp-validation-for="Rg" class="text-danger"></span>
                </div>
            </div>
            @if (Model.NomeCompleto != null) {

                <table class="table table-bordered" style="margin-bottom:10px; margin-top:40px">
                    <thead>
                        <tr>
                            <th>Nome do logradouro</th>
                            <th>Numero</th>
                            <th>CEP</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Endereco item in Model.ListaEnderecos) {
                            <tr>
                                <td>@item.NomeLogradouro</td>
                                <td>@item.Numero</td>
                                <td>@item.Cep</td>
                                <td>
                                </td>
                            </tr>
                        }
                        <tr>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-primary p-1" asp-action="AdicionarEnd">Adicionar novo endereço</a>
            }

            @if (Model.ListaEnderecos.Count != 0) {
                <table class="table table-bordered" style="margin-bottom:10px; margin-top:40px">
                    <thead>
                        <tr>
                            <th>DDD</th>
                            <th>Numero</th>
                            <th>Telefone/Celular</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Telefone item in Model.ListaTelefones) {
                            <tr>
                                <td>@item.DDD</td>
                                <td>@item.Numero</td>
                                <td>@item.Tipo</td>
                                <td>
                                </td>
                            </tr>
                        }
                        <tr>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-primary p-1" asp-action="AdicionarTel">Adicionar novo Telefone</a>
            }

            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {

    <script type="text/javascript">
        $(document).ready(function ($) {
            $("#txtCep").mask('00000-000', { placeholder: "_____-___" });
            $("#txtCpf").mask('000.000.000-00', { placeholder: "___.___.___-__" });
            $("#txtNum").mask('00000-0000', { placeholder: "_____-___" });
            $("#txtDDD").mask('(00)', { placeholder: "(__)" });
        });
    </script>

    @*<script type="text/javascript">
        jQuery(function ($) {
            $("input[name='cep']").change(function () {
                var cep_code = $(this).val();
                if (cep_code.length <= 0) return;
                $.get("https://apps.widenet.com.br/busca-cep/api/cep.json", { code: cep_code }, function (result) {
                    if (result.status == 200) {
                        $("#txtCep").val(result.code);
                        $("#txtEstado").val(result.state);
                        $("txtCidade").val(result.city);
                        $("txtBairro").val(result.district);
                        $("txtEndereco").val(result.address);
                    }
                    else {
                        alert(result.message || "Houve um erro.");
                        return;
                    }
                });
            });
        });
    </script>*@

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
