@model CineManager.Models.Funcionario

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListaEnderecos[0].TipoLogradouro):
            @Html.DisplayFor(model => model.ListaEnderecos[0].NomeLogradouro)
            @Html.DisplayFor(model => model.ListaEnderecos[0].Numero) -
            @Html.DisplayFor(model => model.ListaEnderecos[0].Cep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            +@Html.DisplayFor(model => model.ListaTelefones[0].DDI)
            (@Html.DisplayFor(model => model.ListaTelefones[0].DDD))
            @Html.DisplayFor(model => model.ListaTelefones[0].Numero)
            <br>Tipo:
            @Html.DisplayFor(model => model.ListaTelefones[0].Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Setor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Setor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Turno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Turno)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
