@model CineManager.Models.Funcionario

@{
    ViewData["Title"] = "CriandoFuncionario";
}

<h1>CriandoFuncionario</h1>

<h4>Funcionario</h4>
<hr />
<div class="row">
    <div class="col-md-">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-lg-6">
                <label asp-for="NomeCompleto" class="control-label"></label>
                <input readonly asp-for="NomeCompleto" class="form-control" />
            </div>
            <div class="col-lg-3">
                <label asp-for="Cpf" class="control-label"></label>
                <input readonly asp-for="Cpf" id="txtCpf" class="form-control" />
            </div>
            <div class="col-lg-3">
                <label asp-for="Rg" class="control-label"></label>
                <input readonly asp-for="Rg" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-3">
                <label asp-for="Salario" class="control-label"></label>
                <input readonly asp-for="Salario" class="form-control" />
            </div>
            <div class="col-lg-3">
                <label asp-for="Setor" class="control-label"></label>
                <input readonly asp-for="Setor" class="form-control" />
            </div>
            <div class="col-lg-3">
                <label asp-for="Cargo" class="control-label"></label>
                <input readonly asp-for="Cargo" class="form-control" />
            </div>
            <div class="col-lg-3">
                <label asp-for="Turno" class="control-label"></label>
                <input readonly asp-for="Turno" class="form-control" />
            </div>
        </div>
        <table class="table table-bordered" style="margin-bottom:10px; margin-top:40px">
            <thead>
                <tr>
                    <th>Nome do logradouro</th>
                    <th>Numero</th>
                    <th>CEP</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Endereco item in Model.ListaEnderecos) {
                    <tr>
                        <td>@item.NomeLogradouro</td>
                        <td>@item.Numero</td>
                        <td>@item.Cep</td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="table table-bordered" style="margin-bottom:10px; margin-top:40px">
            <thead>
                <tr>
                    <th>DDD</th>
                    <th>Numero</th>
                    <th>Telefone/Celular</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Telefone item in Model.ListaTelefones) {
                    <tr>
                        <td>@item.DDD</td>
                        <td>@item.Numero</td>
                        <td>@item.Tipo</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
