@model IEnumerable<CineManager.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h1>Funcionários</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Setor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCompleto)
            </td>
            <td>
                <table class="table table-info">
                    <thead>
                        <tr>
                            <th>Endereço</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Endereco end in item.ListaEndereco) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => end.NomeLogradouro) @Html.DisplayFor(modelItem => end.Numero)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>            </td>
            <td>
                <table class="table table-info">
                    <thead>
                        <tr>
                            <th>Telefone</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Telefone tel in item.ListaTelefone) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => tel.DDD) @Html.DisplayFor(modelItem => tel.Numero)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Setor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                <a class="btn btn-primary p-1" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-info p-1" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a class="btn btn-danger p-1" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
