
@model IEnumerable<CineManager.Models.Filme>

@{
    ViewData["Title"] = "Index";
}

<h1>Filmes</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Criar</a>
    <a asp-action="GerarPdf">Gerar Relatorio de Filme</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmCartazAte)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duracao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lancamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmCartazAte)
                </td>
                <td>
                    <a class="btn btn-primary p-1" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-info p-1" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a class="btn btn-danger p-1" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
