@model IEnumerable<CineManager.Models.GeneroFilme>

@{
    ViewData["Title"] = "Index";
}

<h1>Filmes</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Filme.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filme.Duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filme.Lancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filme.EmCartazAte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filme.TipoFilme)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Filme.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filme.Duracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filme.Lancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filme.EmCartazAte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoFilme.NomeTipoFilme)
            </td>
            <td>
                <a class="btn btn-primary p-1" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-info p-1" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a class="btn btn-danger p-1" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
