@model CineManager.Models.Fornecedor

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Fornecedor</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeDaEmpresa" class="control-label"></label>
                <input asp-for="NomeDaEmpresa" class="form-control" />
                <span asp-validation-for="NomeDaEmpresa" class="text-danger"></span>
            </div>
            @if (Model.NomeDaEmpresa == null) {
                <div class="form-group">
                    <label asp-for="NomeResponsavel" class="control-label"></label>
                    <input asp-for="NomeResponsavel" class="form-control" />
                    <span asp-validation-for="NomeResponsavel" class="text-danger"></span>
                </div>
            } else {
                <div class="form-group">
                    <label asp-for="NomeResponsavel" class="control-label"></label>
                    <input readonly asp-for="NomeResponsavel" class="form-control" />
                </div>
            }

            @if (Model.NomeDaEmpresa != null) {

                <table class="table table-bordered" style="margin-bottom:10px; margin-top:40px">
                    <thead>
                        <tr>
                            <th>Nome do logradouro</th>
                            <th>Numero</th>
                            <th>CEP</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Endereco item in Model.ListaEndereco) {
                            <tr>
                                <td>@item.NomeLogradouro</td>
                                <td>@item.Numero</td>
                                <td>@item.Cep</td>
                                <td>
                                </td>
                            </tr>
                        }
                        <tr>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-primary p-1" asp-action="CreateEndereco">Adicionar novo endereço</a>
            }

            @if (Model.ListaEndereco.Count != 0) {
                <table class="table table-bordered" style="margin-bottom:10px; margin-top:40px">
                    <thead>
                        <tr>
                            <th>DDD</th>
                            <th>Numero</th>
                            <th>Telefone/Celular</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Telefone item in Model.ListaTelefone) {
                            <tr>
                                <td>@item.DDD</td>
                                <td>@item.Numero</td>
                                <td>@item.Tipo</td>
                                <td>
                                </td>
                            </tr>
                        }
                        <tr>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-primary p-1" asp-action="CreateTelefone">Adicionar novo Telefone</a>
            }

            @if (Model.ListaTelefone.Count != 0) {
                <table class="table table-bordered" style="margin-bottom:10px; margin-top:40px">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Email item in Model.ListaEmail) {
                            <tr>
                                <td>@item.EnderecoEmail</td>
                                <td>
                                </td>
                            </tr>
                        }
                        <tr>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-primary p-1" asp-action="CreateEmail">Adicionar novo Email</a>
            }

        <div class="form-group">
            @if (Model.NomeDaEmpresa == null) {
                <input type="submit" value="Prosseguir" class="btn btn-primary" />
            } else if (Model.ListaEndereco.Count == 0) {
                <a class="btn btn-primary p-1" asp-action="CreateEndereco">Adicionar novo endereço</a>
            } else if (Model.ListaTelefone.Count == 0) {
                <a class="btn btn-primary p-1" asp-action="CreateTelefone">Adicionar novo Telefone</a>
            } else if (Model.ListaEmail.Count == 0) {
                <a class="btn btn-primary p-1" asp-action="CreateEmail">Adicionar novo Email</a>
            } else {
                <a class="btn btn-primary p-1" asp-action="AdicionarFornecedor">Finalizar Cadastro</a>
            }
            <a asp-action="CancelarCadastro" class="btn btn-secondary">Voltar</a>
        </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}