@model CineManager.Models.Fornecedor

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Fornecedor</h4>
<hr />
<div class="row">
    <div class="col-md-12">
            <div class="form-group">
                <label asp-for="NomeDaEmpresa" class="control-label"></label>
                <input readonly asp-for="NomeDaEmpresa" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NomeResponsavel" class="control-label"></label>
                <input readonly asp-for="NomeResponsavel" class="form-control" />
            </div>
            @if (Model.NomeDaEmpresa != null) {

                <table class="table table-bordered" style="margin-bottom:10px; margin-top:40px">
                    <thead>
                        <tr>
                            <th>Nome do logradouro</th>
                            <th>Numero</th>
                            <th>CEP</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListaEndereco.Count != 0) {
                            if (Model.ListaEndereco.Count == 1) {
                                <tr>
                                    <td>@Model.ListaEndereco[0].NomeLogradouro</td>
                                    <td>@Model.ListaEndereco[0].Numero</td>
                                    <td>@Model.ListaEndereco[0].Cep</td>
                                </tr>
                            } else if (Model.ListaEndereco.Count > 1) {
                                @for (int i = 0; i < Model.ListaEndereco.Count; i++) {
                                    <tr>
                                        <td>@Model.ListaEndereco[i].NomeLogradouro</td>
                                        <td>@Model.ListaEndereco[i].Numero</td>
                                        <td>@Model.ListaEndereco[i].Cep</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            }

            @if (Model.ListaEndereco.Count != 0) {
                <table class="table table-bordered" style="margin-bottom:10px; margin-top:40px">
                    <thead>
                        <tr>
                            <th>DDD</th>
                            <th>Numero</th>
                            <th>Telefone/Celular</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListaTelefone.Count != 0) {
                            if (Model.ListaTelefone.Count == 1) {
                                <tr>
                                    <td>@Model.ListaTelefone[0].DDD</td>
                                    <td>@Model.ListaTelefone[0].Numero</td>
                                    <td>@Model.ListaTelefone[0].Tipo</td>
                                </tr>
                            } else if (Model.ListaTelefone.Count > 1) {
                                @for (int i = 0; i < Model.ListaTelefone.Count; i++) {
                                    <tr>
                                        <td>@Model.ListaTelefone[i].DDD</td>
                                        <td>@Model.ListaTelefone[i].Numero</td>
                                        <td>@Model.ListaTelefone[i].Tipo</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            }

            @if (Model.ListaTelefone.Count != 0) {
                <table class="table table-bordered" style="margin-bottom:10px; margin-top:40px">
                    <thead>
                        <tr>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListaEmail.Count != 0) {
                            if (Model.ListaEmail.Count == 1) {

                                <tr>
                                    <td>@Model.ListaEmail[0].EnderecoEmail</td>
                                </tr>
                            } else if (Model.ListaEmail.Count > 1) {
                                for (int i = 0; i < Model.ListaEmail.Count; i++) {
                                    <tr>
                                        <td>@Model.ListaEmail[i].EnderecoEmail</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            }
        <div class="form-group">
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}