@model IEnumerable<CineManager.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Fornecedor</h1>

<p>
    <a asp-action="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeDaEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeResponsavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDaEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeResponsavel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.NomeLogradouro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email.EnderecoEmail)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
