@model IEnumerable<CineManager.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Fornecedor</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeDaEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeResponsavel)
            </th>
            <th>Telefones</th>
            <th>Endereços</th>
            <th>Emails</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeDaEmpresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeResponsavel)
                </td>
                <td>
                    <table class="table table-info">
                        <thead>
                            <tr>
                                <th>Telefone</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Telefone tel in item.ListaTelefone) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => tel.DDD) @Html.DisplayFor(modelItem => tel.Numero)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="table table-info">
                        <thead>
                            <tr>
                                <th>Endereço</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Endereco end in item.ListaEndereco) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => end.NomeLogradouro) @Html.DisplayFor(modelItem => end.Numero)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="table table-info">
                        <thead>
                            <tr>
                                <th>
                                    Email
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Email email in item.ListaEmail) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => email.EnderecoEmail)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>

                <td>
                    <a class="btn btn-primary p-1" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-info p-1" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a class="btn btn-danger p-1" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
